.title {
    text-align: center;
    color: white;
}

/* items as grid */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cards {
    padding: 0;
    margin: 0;
    display: grid;
}